// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  color: #0067C0;
}
 
.flash-message.alert {
  color: #930403;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
}

.text {
  margin: 20px 40px;
}

.errors {
  margin: 5px 40px;
}

.index-title {
  margin-left: 20px;
}

.create-book{
  margin-left: 20px;
}

table {
  margin-top:5px;
  margin: 20px;
}

table td{
  padding : 5px 10px;
}

.show-title {
  margin-top: 20px;
  margin-left: 30px;
}

.show-body {
  margin: 20px 0 30px 30px;
}

.link {
  margin-left: 20px;
}

.edit-h1 {
  margin: 20px;
}

.edit-box {
  display:flex;
  flex-flow: column;
}

.edit-title {
  margin-left: 20px;
}

.edit-body {
  margin-left: 20px;
}

.box {
  margin: 5px 20px;
}